/* Write your global styles here, in PostCSS syntax */
@tailwind base;
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4f46e5 #fff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #4f46e5;

}
@tailwind components;
@tailwind utilities;
